POSTGRES_PASSWORD='some password'
DATA_DIR=
CSV_DIR=
INDEXER_COLLECTION_BLACKLIST=app.bsky.feed.like,app.bsky.feed.post,app.bsky.feed.repost
CONSUMER_COLLECTION_BLACKLIST=app.bsky.feed.like,app.bsky.feed.post,app.bsky.feed.repost

# IP address to expose HTTP ports on
METRICS_ADDR=0.0.0.0

# Grafana URL with username and password. Only needed if you're going to import the dashboard.
#GRAFANA_URL="https://<username>:<password>@<hostname>"
